.header {
  height: 60px;
  border: none;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
}

.linkContainer {
  display: flex;
}

.navLink {
  text-decoration: none;
  color: inherit;
}

.title {
  font-size: 32px;
  font-family: serif;
}
